section(flex="90" layout="row" layout-xs="column")
    .footer-content(layout="row" layout-xs="column" layout-sm="column" layout-align="center center")
        .info(flex layout="column")
            img(src="img/logo.png")
            md-button.fb(href="https://www.facebook.com/grupoeducativomadero/")
                svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 408.788 408.788" style="enable-background:new 0 0 408.788 408.788;" xml:space="preserve")
                    path(d="M353.701,0H55.087C24.665,0,0.002,24.662,0.002,55.085v298.616c0,30.423,24.662,55.085,55.085,55.085h147.275l0.251-146.078h-37.951c-4.932,0-8.935-3.988-8.954-8.92l-0.182-47.087c-0.019-4.959,3.996-8.989,8.955-8.989h37.882v-45.498c0-52.8,32.247-81.55,79.348-81.55h38.65c4.945,0,8.955,4.009,8.955,8.955v39.704c0,4.944-4.007,8.952-8.95,8.955l-23.719,0.011c-25.615,0-30.575,12.172-30.575,30.035v39.389h56.285c5.363,0,9.524,4.683,8.892,10.009l-5.581,47.087c-0.534,4.506-4.355,7.901-8.892,7.901h-50.453l-0.251,146.078h87.631c30.422,0,55.084-24.662,55.084-55.084V55.085C408.786,24.662,384.124,0,353.701,0z")
                p Siguenos en Facebook
            md-list(hide-xs)
                md-list-item(ui-sref="home") Inicio
                md-list-item(ui-sref="conocenos") Conócenos
                md-list-item(ui-sref="home.nivel") Niveles de estudio
                md-list-item(ui-sref="ingles") Acierto
                md-list-item(ui-sref="inscripciones") Inscripciones
                md-list-item Plataforma
        .direccion(flex="80" flex-xs="90" flex-sm="90")
            h4 Direcciónes
            .direccion-content.md-padding(layout="row" layout-xs="column" layout-sm="column")
                ui-gmap-google-map(center='map.center' zoom='map.zoom' options="options" flex)
                    ui-gmap-marker(coords="marker.coordenadas" idkey="$index" ng-repeat="marker in markers")
                        //- ui-gmap-window(isIconVisibleOnClick="true")
                //- .mapa(flex)
                //-     iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3649.392222281237!2d-97.84589084048083!3d22.285713272771158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2smx!4v1510158514248" frameborder="0" style="border:0" allowfullscreen)
                md-list(flex)
                    md-list-item.md-3-line.md-long-text
                        md-icon.md-avatar location_on
                        .md-list-item-text
                            h3 Preparatoria, Secundaria y Primaria
                            p Juventino Rosas esq. Antonio Plaza S/N Col. Los Mangos Cd. Madero, Tam. C.P. 89440 
                            p TEL. GEM OFICINA. (833) 2 15 70 04 EXT. 111
                    md-list-item.md-3-line.md-long-text
                        md-icon.md-avatar location_on
                        .md-list-item-text
                            h3 Kinder
                            p Calle 5 de mayo Num. 606 Pte. Entre Pedro J. Méndez y Rivas Guillen Col. Ampliación de la Unidad Nacional, Cd. Madero, Tam.
                            p TEL. GEM OFICINA. (833) 2 15 13 98 TEL. GEMi KINDER. (833) 126 5637.
