.header-content(flex="70" flex-md="80" flex-sm="80" flex-xs="100" layout="row")
	.logo-container(ui-sref="home") 
		img(src="img/logo.png")
	span(flex)
	.menu
		md-menu-bar(hide-xs)
			md-button.navbutton(ui-sref="home" ui-sref-active="active") Inicio
			md-button.navbutton(ui-sref="conocenos" ui-sref-active="active") Conocenos
			md-button.navbutton(ui-sref="home.nivel" ui-sref-active="active") Niveles de estudio
			md-button.navbutton(ui-sref="ingles" ui-sref-active="active") Inglés acierto
			md-button.navbutton(ui-sref="inscripciones" ui-sref-active="active") Inscripciones
			md-button.navbutton(ui-sref="vidaestudiantil" ui-sref-active="active") Vidaestudiantil
			md-button.navbutton Plataforma
				
		//- Resolución mobil
		md-menu-bar(hide-gt-xs)
			md-menu
				md-button(ng-click="$mdOpenMenu()")
					md-icon.material-icons menu
				md-menu-content
					md-menu-item
						md-button.navbutton(ui-sref="home" ui-sref-active="active") Inicio
					md-menu-item
						md-button.navbutton(ui-sref="conocenos" ui-sref-active="active") Conocenos
					md-menu-item
						md-button.navbutton(ui-sref="home.nivel" ui-sref-active="active") Niveles de estudio
					md-menu-item
						md-button.navbutton(ui-sref="ingles" ui-sref-active="active") Inglés acierto
					md-menu-item
						md-button.navbutton(ui-sref="inscripciones" ui-sref-active="active") Inscripciones
					md-menu-item
						md-button.navbutton(ui-sref="vidaestudiantil" ui-sref-active="active") Vidaestudiantil
					md-menu-item
						md-button.navbutton Plataforma
