AmarilloObscuro = #f7d64c
AmarilloClaro = #f8de74

form
    width 100%
    margin 0px
    .dropify-wrapper
        padding 0px
        margin 0px
    .croppie-container
        max-height 40%

.croppie-container
    max-height 40%

.home
    h1, h4
        text-align center
