md-menu.md-open .md-button {
  background-color: #0a0e3a;
}
md-menu.md-open .md-button md-icon {
  color: #fff;
}
h2 {
  color: #0a0e3a;
}
.rojo {
  background-color: #d10000 !important;
}
.morado {
  background-color: #49296b !important;
}
.naranja {
  background-color: #eb6a23 !important;
}
.azul {
  background-color: #0a0e3a !important;
}
.verde {
  background-color: #51b83e !important;
}
.blanco {
  background-color: #fff !important;
}
.negro p {
  color: #000 !important;
}
header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 60px;
  background-color: #fff;
}
header .logo-container {
  display: flex;
  margin: auto 10px;
}
header .logo-container img {
  height: 30px;
  margin: auto;
}
header .menu md-menu-bar {
  padding: 0px;
}
header .menu md-menu-bar .md-button {
  height: 100%;
  padding: 13px 10;
  border-radius: 0px;
  text-transform: lowercase;
  color: #000;
  margin: 0px;
  border-right: 1px solid #d3d3d3;
}
header .menu md-menu-bar .md-button:last-child {
  border-right: none;
}
header .menu md-menu-bar .md-button.active {
  background-color: #0a0e3a;
  color: #fff;
}
.vidaestudiantil {
  margin-top: 100px;
}
.nivel-content section.portada1 .loading-content,
.nivel-content section.portada2 .loading-content {
  min-height: 400px;
  display: flex;
}
.nivel-content section.portada1 .loading-content md-progress-circular,
.nivel-content section.portada2 .loading-content md-progress-circular {
  margin: auto;
}
.nivel-content section.portada1 img,
.nivel-content section.portada2 img {
  width: 100%;
  height: auto;
}
.nivel-content section.portada2 {
  margin-top: 100px;
}
.nivel-content section.info .descripcion .descripcion-content {
  margin: 150px 0;
}
.nivel-content section.info .contenido {
  display: flex;
  padding: 0 40px;
}
.nivel-content section.info .contenido .loading-content {
  display: flex;
  margin: auto;
}
.nivel-content section.info .contenido .loading-content md-progress-circular {
  margin: auto;
}
.nivel-content section.info .contenido .panel {
  width: 100%;
}
.nivel-content section.info .contenido .panel md-expansion-panel md-expansion-panel-collapsed .md-title {
  color: #fff;
  font-size: 12px;
  max-width: 100%;
  width: 100%;
}
.nivel-content section.info .contenido .panel md-expansion-panel md-expansion-panel-collapsed .md-expansion-panel-icon {
  margin: 20px 0px;
}
.nivel-content section.info .contenido .panel md-expansion-panel md-expansion-panel-collapsed .md-expansion-panel-icon svg {
  fill: #fff;
}
.nivel-content section.info .contenido .panel md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content li {
  margin: 20px 0;
}
.nivel-content section.info .contenido .panel md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content li:before {
  content: "<h1>6 Businesses Found <span class=" headingDetail ">(view all)</span></h1>";
}
.nivel-content section.info .contenido .panel md-expansion-panel md-expansion-panel-expanded md-expansion-panel-footer .md-expansion-panel-footer-container {
  padding: 0px;
}
.nivel-content section.info .contenido .panel md-expansion-panel md-expansion-panel-expanded md-expansion-panel-footer .md-expansion-panel-footer-container .md-button {
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.nivel-content section.info .formulario {
  background-color: inherit !important;
}
.nivel-content section.info .formulario md-card {
  margin: 0px;
}
.nivel-content section.info .formulario md-card md-toolbar md-icon {
  margin: 0 20px;
}
.nivel-content section.info .formulario.rojo md-toolbar {
  background-color: #cc4848;
}
.nivel-content section.info .formulario.rojo h1 md-icon {
  color: #d10000;
}
.nivel-content section.info .formulario.rojo label {
  color: #d10000;
}
.nivel-content section.info .formulario.rojo input {
  border-color: #d10000;
}
.nivel-content section.info .formulario.rojo textarea {
  border-color: #d10000;
}
.nivel-content section.info .formulario.naranja md-toolbar {
  background-color: #eb6a23;
}
.nivel-content section.info .formulario.naranja h1 md-icon {
  color: #eb6a23;
}
.nivel-content section.info .formulario.naranja label {
  color: #eb6a23;
}
.nivel-content section.info .formulario.naranja input {
  border-color: #eb6a23;
}
.nivel-content section.info .formulario.naranja textarea {
  border-color: #eb6a23;
}
.nivel-content section.info .formulario.morado md-toolbar {
  background-color: #604582;
}
.nivel-content section.info .formulario.morado h1 md-icon {
  color: #49296b;
}
.nivel-content section.info .formulario.morado label {
  color: #49296b;
}
.nivel-content section.info .formulario.morado input {
  border-color: #49296b;
}
.nivel-content section.info .formulario.morado textarea {
  border-color: #49296b;
}
.nivel-content section.info .formulario.verde md-toolbar {
  background-color: #77b26b;
}
.nivel-content section.info .formulario.verde h1 md-icon {
  color: #51b83e;
}
.nivel-content section.info .formulario.verde label {
  color: #51b83e;
}
.nivel-content section.info .formulario.verde input {
  border-color: #51b83e;
}
.nivel-content section.info .formulario.verde textarea {
  border-color: #51b83e;
}
.nivel-content section.info .formulario.azul md-toolbar {
  background-color: #272d59;
}
.nivel-content section.info .formulario.azul h1 md-icon {
  color: #0a0e3a;
}
.nivel-content section.info .formulario.azul label {
  color: #0a0e3a;
}
.nivel-content section.info .formulario.azul input {
  border-color: #0a0e3a;
}
.nivel-content section.info .formulario.azul textarea {
  border-color: #0a0e3a;
}
.nivel-content section.info .formulario form {
  margin: 0px;
}
.nivel-content section.info .formulario form .md-button {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.imagen-container {
  display: flex;
}
.imagen-container img {
  margin: auto;
}
.imagen-footer {
  display: flex;
  width: 100%;
  height: 55%;
}
.imagen-footer img {
  margin: auto;
}
.home {
  top: 0px;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.home .home-container {
  height: calc(100vh - 100px);
  width: 100vw;
  background-size: cover;
  background-position: center center;
  padding-top: 100px;
  overflow: hidden;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.home .home-container .home-content {
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.home .home-container .home-content .logo-container {
  width: 100%;
  display: flex;
}
.home .home-container .home-content .logo-container img {
  height: 100px;
  margin: auto;
}
.home .home-container .back .md-button {
  background-color: #fff;
}
.home .home-container .back .md-button md-icon {
  color: #1c2852;
}
.home .home-container .niveles {
  height: calc(100vh - 200px);
}
.home .home-container .niveles md-grid-list {
  padding-bottom: 0px !important;
  height: calc(100vh - 200px);
}
.home .home-container .niveles md-grid-list md-grid-tile {
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.home .home-container .niveles md-grid-list md-grid-tile .nivel {
  width: 100%;
  height: 100%;
}
.home .home-container .niveles md-grid-list md-grid-tile .nivel .imagen {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
}
.home .home-container .niveles md-grid-list md-grid-tile .nivel .imagen:focus {
  outline: none;
}
.home .home-container .niveles md-grid-list md-grid-tile .nivel .imagen img {
  height: 100%;
  width: auto;
  margin: auto;
}
.home .home-container .niveles md-grid-list md-grid-tile .nivel .intro {
  display: flex;
}
@media (max-width: 960px) {
  .home .home-container .niveles md-grid-list md-grid-tile .nivel .intro {
    width: 90%;
    margin: 0 5%;
  }
}
.home .home-container .niveles md-grid-list md-grid-tile .nivel .intro .intro-content {
  margin: auto;
  color: #fff;
}
@media (max-width: 960px) {
  .home .home-container .niveles md-grid-list md-grid-tile .nivel .intro .intro-content {
    margin: 0;
  }
}
.home .home-container .niveles md-grid-list md-grid-tile .nivel .intro .intro-content p {
  font-size: 20px;
}
.home .home-container .niveles md-grid-list.seccionHome md-grid-tile.conHover img {
  transform: scale(1.1);
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.home .home-container .niveles md-grid-list.seccionHome md-grid-tile.sinHover img {
  width: auto;
  height: 100%;
}
@media (max-width: 960px) {
  .home .home-container .niveles md-grid-list.seccionNivel md-grid-tile img {
    width: 190px !important;
    height: 230px !important;
  }
}
.home .home-container .siguiente {
  height: 50px;
  width: 100%;
  display: flex;
}
.home .home-container .siguiente .md-button {
  margin: auto;
}
.home .home-container .siguiente .md-button md-icon {
  color: #fff;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.home .home-container .siguiente .md-button.conHover md-icon {
  transform: scale(3);
}
.home .home-container .siguiente .md-button.sinHover md-icon {
  transform: scale(2);
}
.home h1,
.home h4 {
  text-align: center;
}
.titulo {
  height: 60px;
  width: 600px;
  background-color: #55316b;
}
.titulo h1 {
  font-family: open-sans, sans-serif;
  color: #fff;
}
.md-list-item {
  height: 40px;
  width: 600px;
  background-color: #55316b;
}
.md-list-item h4 {
  font-family: open-sans, sans-serif;
  color: #fff;
}
.info {
  display: flex;
}
.info md-grid-list md-grid-tile img {
  height: 80%;
  padding: 10%;
}
.ingles-content {
  margin: 100px 0;
}
.ingles-content section.portada1 img {
  width: 100%;
  height: auto;
  margin-top: 5%;
}
.ingles-content section.logo {
  width: 100%;
  display: flex;
}
.ingles-content section.logo img {
  height: 150px;
  margin: auto;
  margin-top: 10%;
}
.ingles-content section.informacion p {
  text-align: justify;
}
@media (min-width: 960px) {
  .ingles-content section.informacion {
    margin-top: 150px;
  }
}
.ingles-content section.informacion md-list md-icon {
  color: #0a0e3a;
}
.conocenos {
  margin-top: 100px;
}
.conocenos section.imagenes .imagenes-container {
  position: relative;
}
.conocenos section.imagenes .imagenes-container .imagenes-content {
  position: relative;
}
.conocenos section.imagenes .imagenes-container .imagenes-content section.fotoizquierda {
  float: left;
  position: relative;
}
.conocenos section.imagenes .imagenes-container .imagenes-content section.fotoizquierda .imagen img {
  height: 150px;
  display: inline;
  display: block;
  margin: 0 auto;
  float: left;
}
.conocenos section.imagenes .imagenes-container .imagenes-content section.fotoizquierda p {
  font-weight: bold;
  font-size: 18px;
  margin-top: 15%;
  margin-right: 70px;
}
.conocenos section.imagenes .imagenes-container .imagenes-content section.fotoderecha {
  margin-right: 0px;
}
.conocenos section.imagenes .imagenes-container .imagenes-content section.fotoderecha .imagen img {
  height: 150px;
  display: inline;
  display: block;
  margin: 0 auto;
  float: right;
}
.conocenos section.imagenes .imagenes-container .imagenes-content section.fotoderecha p {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: 15%;
  margin-left: 45%;
}
.conocenos section.infoConocenos {
  margin-bottom: 50px;
}
.conocenos section.infoConocenos p {
  font-size: 18px;
}
.conocenos section.infoConocenos md-list md-list-item {
  height: 23px;
  min-height: 23px;
  font-size: 18px;
}
.inscripciones {
  margin-top: 100px;
}
.inscripciones .inscripciones-container .inscripciones-content md-list md-icon {
  color: #0a0e3a;
}
@media (max-width: 960px) {
  .inscripciones .inscripciones-container md-grid-list md-grid-tile {
    height: 280px !important;
  }
}
.inscripciones .inscripciones-container md-grid-list md-grid-tile .grid-content .imagen {
  display: flex;
}
.inscripciones .inscripciones-container md-grid-list md-grid-tile .grid-content .imagen img {
  height: 100px;
  width: auto;
  margin: auto;
}
.inscripciones .inscripciones-container md-grid-list md-grid-tile .grid-content md-divider {
  border-top-width: 4px;
  margin: 10px 0;
}
.inscripciones .inscripciones-container md-grid-list md-grid-tile .grid-content h4 {
  text-transform: uppercase;
  margin-top: 8px !important;
}
.inscripciones .inscripciones-container md-grid-list md-grid-tile .grid-content p {
  letter-spacing: 2px;
  font-size: 11px;
}
.inscripciones .inscripciones-container md-grid-list md-grid-tile .grid-content p,
.inscripciones .inscripciones-container md-grid-list md-grid-tile .grid-content h4 {
  text-align: center;
  margin: 3px 0;
}
.acceso {
  width: 100vw;
  height: calc(100vh - 100px);
}
.deporte md-grid-list {
  margin: 100px 0;
}
.deporte md-grid-list md-grid-tile {
  font-size: 24px;
  cursor: pointer;
}
.deporte md-grid-list md-grid-tile.conHover {
  background-color: #fff;
  color: #0a0e3a;
}
.deporte md-grid-list md-grid-tile.sinHover {
  background-color: #0a0e3a;
  color: #fff;
}
.album md-grid-list md-grid-tile imagenalbum {
  width: 100%;
  height: 100%;
}
.album md-grid-list md-grid-tile imagenalbum div {
  width: 100%;
  height: 100%;
}
.album md-grid-list md-grid-tile imagenalbum div img {
  width: auto;
  height: 100%;
}
footer {
  background-color: #fff;
}
@media (max-width: 960px) {
  footer {
    height: 820px;
  }
}
footer .footer-content {
  width: 100%;
}
@media (max-width: 960px) {
  footer .footer-content {
    min-height: 770px;
    margin-top: 10px;
  }
}
@media (max-width: 960px) {
  footer .footer-content .info {
    min-height: 124px !important;
  }
}
footer .footer-content .info img {
  width: 150px;
  height: 70px;
}
footer .footer-content .info .md-button.fb {
  background-color: #475993;
  display: flex;
  color: #fff;
  max-width: 210px;
}
footer .footer-content .info .md-button.fb svg {
  width: 24px;
}
footer .footer-content .info .md-button.fb svg path {
  fill: #fff !important;
}
footer .footer-content .info .md-button.fb p {
  margin: 0px;
  margin-left: 10px;
}
footer .footer-content .info md-list md-list-item {
  height: 38px;
  min-height: 38px;
}
footer .footer-content .direccion {
  width: 100%;
  margin: 50px 0;
}
@media (max-width: 960px) {
  footer .footer-content .direccion {
    margin: 0px;
  }
}
@media (max-width: 960px) {
  footer .footer-content .direccion .direccion-content {
    min-height: 570px !important;
  }
}
footer .footer-content .direccion .direccion-content ui-gmap-google-map {
  height: 300px;
}
@media (max-width: 960px) {
  footer .footer-content .direccion .direccion-content ui-gmap-google-map {
    height: 300px !important;
    width: 100% !important;
  }
}
footer .footer-content .direccion .direccion-content ui-gmap-google-map .angular-google-map-container {
  height: 100%;
}
@media (max-width: 960px) {
  footer .footer-content .direccion .direccion-content ui-gmap-google-map .angular-google-map-container {
    height: 300px;
  }
}
@media (max-width: 960px) {
  footer .footer-content .direccion .direccion-content md-list {
    margin-top: 60px;
  }
}
footer .footer-content .direccion .direccion-content md-list h4 {
  padding-left: 10px;
}
footer .footer-content .direccion .direccion-content md-list md-list-item md-icon {
  color: #0a0e3a;
}
footer .footer-content .direccion .direccion-content md-list md-list-item .md-item-text {
  color: #fff;
}
footer .footer-content .direccion .direccion-content md-list md-list-item .md-item-text h3 {
  color: #0a0e3a !important;
}
footer .footer-content .direccion .direccion-content md-list md-list-item .md-item-text p {
  color: #000 !important;
}
timeline timeline-event timeline-badge.facebook {
  background-color: #3c5a99;
}
timeline timeline-event timeline-badge.evento {
  background-color: #d10000;
}
timeline timeline-event timeline-badge md-icon {
  margin: 13px;
  transform: scale(1.3);
  color: #fff;
}
@media (min-width: 960px) {
  timeline timeline-event timeline-panel .timeline-content img {
    height: 200px;
  }
}
@media (max-width: 960px) {
  timeline timeline-event timeline-panel .timeline-content img {
    height: 100px;
  }
}
