md-menu.md-open .md-button {
  background-color: #0a0e3a;
}
md-menu.md-open .md-button md-icon {
  color: #fff;
}
h2 {
  color: #0a0e3a;
}
.rojo {
  background-color: #d10000;
}
.morado {
  background-color: #49296b;
}
.naranja {
  background-color: #eb6a23;
}
.azul {
  background-color: #0a0e3a;
}
.verde {
  background-color: #51b83e;
}
header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 60px;
  background-color: #fff;
}
header .logo-container {
  display: flex;
  margin: auto 10px;
}
header .logo-container img {
  height: 30px;
  margin: auto;
}
header .menu md-menu-bar {
  padding: 0px;
}
header .menu md-menu-bar .md-button {
  height: 100%;
  padding: 13px 10;
  border-radius: 0px;
  text-transform: lowercase;
  color: #000;
  margin: 0px;
  border-right: 1px solid #d3d3d3;
}
header .menu md-menu-bar .md-button:last-child {
  border-right: none;
}
header .menu md-menu-bar .md-button.active {
  background-color: #0a0e3a;
  color: #fff;
}
.nivel-content section.portada1 .loading-content,
.nivel-content section.portada2 .loading-content {
  min-height: 400px;
  display: flex;
}
.nivel-content section.portada1 .loading-content md-progress-circular,
.nivel-content section.portada2 .loading-content md-progress-circular {
  margin: auto;
}
.nivel-content section.portada1 img,
.nivel-content section.portada2 img {
  width: 100%;
  height: auto;
}
.nivel-content section.portada2 {
  margin: 100px 0;
}
.nivel-content section.info .descripcion .descripcion-content {
  margin: 150px 0;
}
.nivel-content section.info .contenido {
  display: flex;
  padding: 0 40px;
}
.nivel-content section.info .contenido .loading-content {
  margin: auto;
}
.nivel-content section.info .contenido .loading-content display flex md-progress-circular {
  margin: auto;
}
.nivel-content section.info .contenido .panel {
  width: 100%;
}
.nivel-content section.info .contenido .panel md-expansion-panel md-expansion-panel-collapsed .md-title {
  color: #fff;
  font-size: 12px;
  max-width: 100%;
  width: 100%;
}
.nivel-content section.info .contenido .panel md-expansion-panel md-expansion-panel-collapsed .md-expansion-panel-icon {
  margin: 20px 0px;
}
.nivel-content section.info .contenido .panel md-expansion-panel md-expansion-panel-collapsed .md-expansion-panel-icon svg {
  fill: #fff;
}
.nivel-content section.info .contenido .panel md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content li {
  margin: 20px 0;
}
.nivel-content section.info .contenido .panel md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content li:before {
  content: "<h1>6 Businesses Found <span class=" headingDetail ">(view all)</span></h1>";
}
.nivel-content section.info .contenido .panel md-expansion-panel md-expansion-panel-expanded md-expansion-panel-footer .md-expansion-panel-footer-container {
  padding: 0px;
}
.nivel-content section.info .contenido .panel md-expansion-panel md-expansion-panel-expanded md-expansion-panel-footer .md-expansion-panel-footer-container .md-button {
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.nivel-content section.info .formulario {
  background-color: inherit !important;
}
.nivel-content section.info .formulario md-card {
  margin: 0px;
}
.nivel-content section.info .formulario md-card md-toolbar md-icon {
  margin: 0 20px;
}
.nivel-content section.info .formulario.rojo md-toolbar {
  background-color: #d10000;
}
.nivel-content section.info .formulario.rojo h1 md-icon {
  color: #d10000;
}
.nivel-content section.info .formulario.rojo label {
  color: #d10000;
}
.nivel-content section.info .formulario.rojo input {
  border-color: #d10000;
}
.nivel-content section.info .formulario.rojo textarea {
  border-color: #d10000;
}
.nivel-content section.info .formulario.naranja md-toolbar {
  background-color: #eb6a23;
}
.nivel-content section.info .formulario.naranja h1 md-icon {
  color: #eb6a23;
}
.nivel-content section.info .formulario.naranja label {
  color: #eb6a23;
}
.nivel-content section.info .formulario.naranja input {
  border-color: #eb6a23;
}
.nivel-content section.info .formulario.naranja textarea {
  border-color: #eb6a23;
}
.nivel-content section.info .formulario.morado md-toolbar {
  background-color: #49296b;
}
.nivel-content section.info .formulario.morado h1 md-icon {
  color: #49296b;
}
.nivel-content section.info .formulario.morado label {
  color: #49296b;
}
.nivel-content section.info .formulario.morado input {
  border-color: #49296b;
}
.nivel-content section.info .formulario.morado textarea {
  border-color: #49296b;
}
.nivel-content section.info .formulario.verde md-toolbar {
  background-color: #51b83e;
}
.nivel-content section.info .formulario.verde h1 md-icon {
  color: #51b83e;
}
.nivel-content section.info .formulario.verde label {
  color: #51b83e;
}
.nivel-content section.info .formulario.verde input {
  border-color: #51b83e;
}
.nivel-content section.info .formulario.verde textarea {
  border-color: #51b83e;
}
.nivel-content section.info .formulario.azul md-toolbar {
  background-color: #0a0e3a;
}
.nivel-content section.info .formulario.azul h1 md-icon {
  color: #0a0e3a;
}
.nivel-content section.info .formulario.azul label {
  color: #0a0e3a;
}
.nivel-content section.info .formulario.azul input {
  border-color: #0a0e3a;
}
.nivel-content section.info .formulario.azul textarea {
  border-color: #0a0e3a;
}
.nivel-content section.direccion {
  width: 100%;
  margin: 50px 0;
}
.nivel-content section.direccion .mapa iframe {
  width: 100%;
  height: 350px;
}
.imagen-container {
  display: flex;
}
.imagen-container img {
  margin: auto;
}
.imagen-footer {
  display: flex;
  width: 100%;
  height: 55%;
}
.imagen-footer img {
  margin: auto;
}
.home {
  top: 0px;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.home .home-container {
  height: calc(100vh - 100px);
  width: 100vw;
  background-size: cover;
  background-position: center center;
  padding-top: 100px;
  overflow: hidden;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.home .home-container .home-content {
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.home .home-container .home-content .logo-container {
  width: 100%;
  display: flex;
}
.home .home-container .home-content .logo-container img {
  height: 100px;
  margin: auto;
}
.home .home-container .back .md-button {
  background-color: #fff;
}
.home .home-container .back .md-button md-icon {
  color: #1c2852;
}
.home .home-container .niveles {
  height: calc(100vh - 200px);
}
.home .home-container .niveles md-grid-list {
  padding-bottom: 0px !important;
  height: calc(100vh - 200px);
}
.home .home-container .niveles md-grid-list md-grid-tile {
  cursor: pointer;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.home .home-container .niveles md-grid-list md-grid-tile.conHover img {
  height: 90%;
  padding: 5%;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.home .home-container .niveles md-grid-list md-grid-tile.sinHover img {
  height: 60%;
  padding: 10%;
}
.home .home-container .siguiente {
  height: 50px;
  width: 100%;
  display: flex;
}
.home .home-container .siguiente md-icon {
  margin: auto;
  transform: scale(2);
  color: #fff;
}
.home h1,
.home h4 {
  text-align: center;
}
.titulo {
  height: 60px;
  width: 600px;
  background-color: #55316b;
}
.titulo h1 {
  font-family: open-sans, sans-serif;
  color: #fff;
}
.md-list-item {
  height: 40px;
  width: 600px;
  background-color: #55316b;
}
.md-list-item h4 {
  font-family: open-sans, sans-serif;
  color: #fff;
}
.info {
  display: flex;
}
.info md-grid-list md-grid-tile img {
  height: 80%;
  padding: 10%;
}
.ingles-content {
  margin: 100px 0;
}
.ingles-content section.portada1 img {
  width: 100%;
  height: auto;
  margin-top: 5%;
}
.ingles-content section.logo {
  width: 100%;
  display: flex;
}
.ingles-content section.logo img {
  height: 150px;
  margin: auto;
  margin-top: 10%;
}
@media (min-width: 960px) {
  .ingles-content section.informacion {
    margin-top: 150px;
  }
}
.ingles-content section.informacion md-list md-icon {
  color: #0a0e3a;
}
.conocenos {
  margin-top: 100px;
}
.conocenos section.imagenes .imagenes-container {
  position: relative;
}
.conocenos section.imagenes .imagenes-container .imagenes-content {
  position: relative;
}
.conocenos section.imagenes .imagenes-container .imagenes-content section.fotoizquierda {
  float: left;
  position: relative;
}
.conocenos section.imagenes .imagenes-container .imagenes-content section.fotoizquierda .imagen img {
  height: 150px;
  display: inline;
  display: block;
  margin: 0 auto;
  float: left;
}
.conocenos section.imagenes .imagenes-container .imagenes-content section.fotoizquierda p {
  font-weight: bold;
  font-size: 18px;
  margin-top: 15%;
  margin-right: 70px;
}
.conocenos section.imagenes .imagenes-container .imagenes-content section.fotoderecha {
  margin-right: 0px;
}
.conocenos section.imagenes .imagenes-container .imagenes-content section.fotoderecha .imagen img {
  height: 150px;
  display: inline;
  display: block;
  margin: 0 auto;
  float: right;
}
.conocenos section.imagenes .imagenes-container .imagenes-content section.fotoderecha p {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: 15%;
  margin-left: 45%;
}
.conocenos section.infoConocenos {
  margin-bottom: 50px;
}
.conocenos section.infoConocenos md-list md-list-item {
  height: 23px;
  min-height: 23px;
}
.inscripciones {
  margin-top: 100px;
}
.inscripciones .inscripciones-container .inscripciones-content md-list md-icon {
  color: #0a0e3a;
}
@media (max-width: 960px) {
  .inscripciones .inscripciones-container md-grid-list md-grid-tile {
    height: 280px !important;
  }
}
.inscripciones .inscripciones-container md-grid-list md-grid-tile .grid-content .imagen {
  display: flex;
}
.inscripciones .inscripciones-container md-grid-list md-grid-tile .grid-content .imagen img {
  height: 100px;
  width: auto;
  margin: auto;
}
.inscripciones .inscripciones-container md-grid-list md-grid-tile .grid-content md-divider {
  border-top-width: 4px;
  margin: 10px 0;
}
.inscripciones .inscripciones-container md-grid-list md-grid-tile .grid-content h4 {
  text-transform: uppercase;
  margin-top: 8px !important;
}
.inscripciones .inscripciones-container md-grid-list md-grid-tile .grid-content p {
  letter-spacing: 2px;
  font-size: 11px;
}
.inscripciones .inscripciones-container md-grid-list md-grid-tile .grid-content p,
.inscripciones .inscripciones-container md-grid-list md-grid-tile .grid-content h4 {
  text-align: center;
  margin: 3px 0;
}
