.centro {
  min-height: "calc(100vh - 150px)";
}
md-dialog {
  width: 50vw;
}
.layout-row>div {
  max-height: inherit !important;
}
.centro {
  min-height: calc(100vh - 100px);
}
footer {
  background-color: #000;
}
footer md-icon {
  height: 106px;
  width: 180px;
}
footer md-list md-list-item.md-3-line.md-long-text .md-list-item-text p {
  text-align: justify;
}
.ta-toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ta-toolbar .ta-button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ta-toolbar .ta-button-group button {
  min-width: 0;
  min-height: 0;
  line-height: normal;
  margin-left: 0;
  color: #000;
}
.ta-toolbar .ta-button-group button md-icon {
  color: #2196f3;
}
.ta-toolbar .ta-button-group.active {
  background-color: #2196f3;
}
.ta-text-editor .ta-bind {
  border-bottom: 1px solid #2196f3;
}
.ta-text-editor .ta-bind:focus {
  border-bottom: 2px solid #2196f3;
  outline: none;
}
