.conocenos
    section.imagenes(layout="row" layout-align="center center")
        .imagenes-container(flex="70" flex-md="80" flex-sm="90" flex-xs="90" layout="column")
            .imagenes-content(layout="row" flex)
                .fotoizquierda(flex="50")
                    .imagen
                        md-icon person
                        //- img(src="img/Corcel.png") 
                    p Profesor Agustín de la Huerta Chávez    
                .fotoderecha(flex="50")
                    .imagen
                        md-icon person
                        //- img(src="img/Corcel.png")
                    p Lic. Agustín de la Huerta Mejía
            
    section.infoConocenos(layout="row" layout-align="center center")
        .infoConocenos-container(flex="70" flex-md="80" flex-sm="90" flex-xs="90" layout="column")
            .infoConocenos-content(layout="column" flex)
                h2 Filosofía institucional
                p Forjar jóvenes educados en la excelencia académica y humana, que sean capaces de enfrentar los retos de la vida,  Es y ha sido la esencia y filosofía de GRUPO EDUCATIVO MADERO.
                h2 Misión
                p Proporcionar servicios de alto nivel, que permitan desarrollar en el estudiante, Capacidades académicas y cualidades humanísticas que den sentido a su existencia.
                h2 Visión
                p Institución de gran nivel y prestigio, con un equipo profesional, altamente motivado y comprometido, que basado en una experiencia y una cultura de vanguardia, incrementa permanentemente su liderazgo.
                h2 Valores
                md-list
                    md-list-item ->Amor.
                    md-list-item ->Compromiso.
                    md-list-item ->Respeto.
                    md-list-item ->Responsabilidad.
                    md-list-item ->Disciplina.
                    md-list-item ->Trabajo en equipo.
                    md-list-item ->Liderazgo.
                    md-list-item ->Integridad.
                    md-list-item ->Actitud de servicio.
                h2 Nuestra historia a través de los años
                md-list
                    md-list-item.md-long-text
                        .md-list-item-text(style="display: flex")
                            strong 1957-
                            p(style="margin: 0 10 0 10") Se funda la que en ese entonces llevara por nombre, Escuela Preparatoria Nocturna de Cd. Madero.
                md-list
                    md-list-item.md-long-text
                        .md-list-item-text(style="display: flex")
                            strong 1965-
                            p(style="margin: 0 10 0 10") Se constituye como la conocemos actualmente la Escuela Preparatoria de Cd. Madero, A. C.
                md-list            
                    md-list-item.md-long-text
                        .md-list-item-text(style="display: flex")
                            strong 1968-
                            p(style="margin: 0 10 0 10") Se establece la Prepa Madero en sus actuales instalaciones de la Colonia Los Mangos.
                md-list            
                    md-list-item.md-long-text
                        .md-list-item-text(style="display: flex")
                            strong 1997-
                            p(style="margin: 0 10 0 10") Se crea el Consejo de Administración.
                md-list            
                    md-list-item.md-long-text
                        .md-list-item-text(style="display: flex")
                            strong 1998-
                            p(style="margin: 0 10 0 10") Se inaugura el Colegio Octavio Paz División Secundaria.
                md-list            
                    md-list-item.md-long-text
                        .md-list-item-text(style="display: flex")
                            strong 1999-
                            p(style="margin: 0 10 0 10") Se constituye el primer grupo de mejora continua y se desarrollan los trabajos de Planeación Estratégica de 1999-2004.
                md-list            
                    md-list-item.md-long-text
                        .md-list-item-text(style="display: flex")
                            strong 2001-
                            p(style="margin: 0 10 0 10") Se gradúa la primera generación completa de secundaria.
                md-list            
                    md-list-item.md-long-text
                        .md-list-item-text(style="display: flex")
                            strong 2005-
                            p(style="margin: 0 10 0 10") Se desarrolla el 2do. Grupo de mejora continua y calidad y se generan los trabajos de Planeación Estratégica y Reingeniería para el periodo 2005-2010.
                md-list            
                    md-list-item.md-long-text
                        .md-list-item-text(style="display: flex")
                            strong 2009-
                            p(style="margin: 0 10 0 10") Se inaugura el Colegio Octavio Paz División Primaria.
                md-list            
                    md-list-item.md-long-text
                        .md-list-item-text(style="display: flex")
                            strong 2011-
                            p(style="margin: 0 10 0 10") Se inaugura el Colegio GEMi División Preescolar.
                md-list            
                    md-list-item.md-long-text
                        .md-list-item-text(style="display: flex")
                            strong 2014-
                            p(style="margin: 0 10 0 10") Se gradúa la primera generación de preescolar.
                md-list            
                    md-list-item.md-long-text
                        .md-list-item-text(style="display: flex")
                            strong 2015-
                            p(style="margin: 0 10 0 10") Se gradúa la primera generación completa de primaria.
                md-list            
                    md-list-item.md-long-text
                        .md-list-item-text(style="display: flex")
                            strong 2017-
                            p(style="margin: 0 10 0 10") Cumplimos 60 años de fundación.

                    
    iframe(src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1C5vNVtfICe12ud0RW0ZYIBPw3MyOWU27nS6qDMx-5BU&font=Default&lang=en&initial_zoom=2&height=650' width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0')
