section.imagenes(layout="row" layout-align="center center")
    .imagenes-container(flex="70" flex-md="80" flex-sm="90" flex-xs="100" layout="column")
        .imagenes-content(layout="row" flex)
            section.fotoizquierda(flex="50")
                img(src="img/Corcel.png") 
                p Profesor Agustín de la Huerta Chávez
            section.fotoderecha(flex="50")
                img(src="img/Corcel.png")
                p Lic. Agustín de la Huerta Mejía
        
section.infoConocenos(layout="row" layout-align="center center")
    .infoConocenos-container(flex="70" flex-md="80" flex-sm="90" flex-xs="100" layout="column")
        .infoConocenos-content(layout="column" flex)
            h4 Filosofía institucional
            p Forjar jóvenes educados en la excelencia académica y humana, que sean capaces de enfrentar los retos de la vida,  Es y ha sido la esencia y filosofía de GRUPO EDUCATIVO MADERO.
            h4 Misión
            p Proporcionar servicios de alto nivel, que permitan desarrollar en el estudiante, Capacidades académicas y cualidades humanísticas que den sentido a su existencia.
            h4 Visión
            p Institución de gran nivel y prestigio, con un equipo profesional, altamente motivado y comprometido, que basado en una experiencia y una cultura de vanguardia, incrementa permanentemente su liderazgo.
            h4 Valores
            p "Amor" "Compromiso"  "Responsabilidad"  "Respeto"  "Disciplina" "Trabajo en equipo" "Liderazgo" "Integridad" "Actitud de servicio"
