.conocenos
    section.imagenes(layout="row" layout-align="center center")
        .imagenes-container(flex="70" flex-md="80" flex-sm="90" flex-xs="90" layout="column")
            .imagenes-content(layout="row" flex)
                .fotoizquierda(flex="50")
                    .imagen
                        md-icon person
                        //- img(src="img/Corcel.png") 
                    p Profesor Agustín de la Huerta Chávez    
                .fotoderecha(flex="50")
                    .imagen
                        md-icon person
                        //- img(src="img/Corcel.png")
                    p Lic. Agustín de la Huerta Mejía
            
    section.infoConocenos(layout="row" layout-align="center center")
        .infoConocenos-container(flex="70" flex-md="80" flex-sm="90" flex-xs="90" layout="column")
            .infoConocenos-content(layout="column" flex)
                h2 Filosofía institucional
                p Forjar jóvenes educados en la excelencia académica y humana, que sean capaces de enfrentar los retos de la vida,  Es y ha sido la esencia y filosofía de GRUPO EDUCATIVO MADERO.
                h2 Misión
                p Proporcionar servicios de alto nivel, que permitan desarrollar en el estudiante, Capacidades académicas y cualidades humanísticas que den sentido a su existencia.
                h2 Visión
                p Institución de gran nivel y prestigio, con un equipo profesional, altamente motivado y comprometido, que basado en una experiencia y una cultura de vanguardia, incrementa permanentemente su liderazgo.
                h2 Valores
                md-list
                    md-list-item Amor
                    md-list-item Compromiso
                    md-list-item Respeto
                    md-list-item Responsabilidad
                    md-list-item Disciplina
                    md-list-item Trabajo en equipo
                    md-list-item Liderazgo
                    md-list-item Integridad
                    md-list-item Actitud de servicio
                    
                    
                    
                    
    iframe(src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1C5vNVtfICe12ud0RW0ZYIBPw3MyOWU27nS6qDMx-5BU&font=Default&lang=en&initial_zoom=2&height=650' width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0')
