.deporte(layout="row" layout-align="center center")
    div(flex="80")
        md-grid-list(md-cols="3" md-cols-xs="1" md-row-height="200px" md-row-height-xs="100px")
            md-grid-tile(md-colspan="1" md-rowspan="1" ng-repeat="evento in eventos" ng-click="irAlbum(evento)" ng-init="hover = false"  ng-mouseover="hover = true" ng-mouseleave="hover = false"  ng-class="hover ? 'conHover' : 'sinHover'")
                p {{evento.nombre}}

main(ui-view="main")
