.home(ng-class="{ 'rojo' : $state.includes('home.nivel', {id: 51}) , 'morado' : $state.includes('home.nivel', {id: 61}) , 'naranja' : $state.includes('home.nivel', {id: 53}) , 'blanco' : $state.includes('home.nivel', {id: 52}), 'verde' : $state.includes('home.nivel', {id: 94})}")
	.home-container(style="background-image:url(img/portada.svg)")
		.home-content(layout="column" ng-hide="$state.includes('home.nivel')" hide-xs hide-sm)
			.logo-container
				img(src="img/logo.png")
		//- .back(ng-show="$state.includes('home.nivel')" ui-sref="home")
		//- 	md-button
		//- 		md-icon backspace
		.niveles(layout="row" layout-align="center center")
			md-progress-circular(md-mode="indeterminate" md-diameter="100" ng-disabled="loadingniveles" ng-if="loadingniveles")
			md-grid-list(md-cols="3" md-cols-xs="3" md-row-height="200px" md-row-height-xs="110px" md-row-height-sm="200px" md-row-height-md="200px"  md-gutter="2em" flex="70" flex-md="70" flex-sm="70" flex-xs="100" ng-if="!loadingniveles" ng-class="{ 'seccionHome' : $state.is('home') , 'seccionNivel' : $state.includes('home.nivel')}")
				md-grid-tile(ng-repeat="nivel in niveles" md-colspan="{{medida.col}}" md-rowspan="{{medida.row}}" ng-init="hover = false"  ng-mouseover="hover = true" ng-mouseleave="hover = false"  ng-class="hover ? 'conHover' : 'sinHover'" ng-if="nivel.activo === true")
					.nivel(layout="row" layout-xs="column" layout-sm="column")
						.imagen(ng-click="selecionar(nivel)")
							img(src="{{nivel.logo.imagen}}")
						.intro(ng-if="medida.nivel === true" flex="50" flex-xs="90" flex-sm="90" ng-class="{'negro' : $state.includes('home.nivel', {id: 52})}")
							.intro-content(ng-bind-html="nivel.introduccion" ng-class="{ 'seccionHome' : $state.is('home') , 'seccionNivel' : $state.includes('home.nivel')}")
		.siguiente(ng-show="$state.includes('home.nivel')")
			md-button(ng-click="irNivel()" ng-init="hover = false"  ng-mouseover="hover = true" ng-mouseleave="hover = false"  ng-class="hover ? 'conHover' : 'sinHover'")
				md-icon keyboard_arrow_down
.nivel(ui-view="main")
