.home(ng-class="{ 'rojo' : $state.includes('home.nivel', {id: 51}) , 'morado' : $state.includes('home.nivel', {id: 61}) , 'naranja' : $state.includes('home.nivel', {id: 71}) , 'azul' : $state.includes('home.nivel', {id: 81}) , 'verde' : $state.includes('home.nivel', {id: 91})} ")
	.home-container(style="background-image:url(img/portada.svg)")
		.home-content(layout="column" ng-hide="$state.includes('home.nivel')")
			.logo-container
				img(src="img/logo.png")
		//- .back(ng-show="$state.includes('home.nivel')" ui-sref="home")
		//- 	md-button
		//- 		md-icon backspace
		.niveles(layout="row" layout-align="center center")
			md-progress-circular(md-mode="indeterminate" md-diameter="100" ng-disabled="loadingniveles" ng-if="loadingniveles")
			md-grid-list(md-cols="3" md-row-height="1:1" flex="70" flex-md="70" flex-sm="70" flex-xs="100" ng-if="!loadingniveles")
				md-grid-tile(ng-repeat="nivel in niveles" md-colspan="1" md-rowspan="1" ng-click="selecionar(nivel)" ng-init="hover = false"  ng-mouseover="hover = true" ng-mouseleave="hover = false"  ng-class="hover ? 'conHover' : 'sinHover'")
					img(src="{{nivel.logo.imagen}}")
		.siguiente(ng-show="$state.includes('home.nivel') ")
			md-icon keyboard_arrow_down
.nivel(ui-view="main")
