.ingles-content
    section.logo
        img(src="img/ingles.png")
    section.portada1
        img(src="img/ingles1.png")
    section.informacion(layout="row" layout-align="center center")
        .informacion-container(flex="70" flex-md="80" flex-sm="90" flex-xs="90" layout="column")
            .info-content(layout="row")   
                .contenido(flex="60" flex-xs="100")
                    .descripcion-content(ng-bind-html="nivel.descripcion")    
                .formulario(flex="40" flex-xs="100" hide-xs)
                    md-card(style="margin-left: 30px")
                        md-toolbar(style="background-color: {{nivel.colorbajo}}; color:white;")
                            .md-toolbar-tools
                                md-icon markunread_mailbox
                                h1 Contáctanos
                        form(ng-submit="nuevoContacto(contacto)" ng-hide="listo")
                            .md-padding(layout="column")
                                md-input-container(flex)
                                    label Nombre
                                    input(ng-model="contacto.nombre" required)
                                md-input-container(flex required)
                                    label E-mail
                                    input(ng-model="contacto.email" required)
                                md-input-container(flex)
                                    label Mensaje
                                    textarea(ng-model="contacto.mensaje" md-maxlength="800" rows="5" required)
                            md-button(type="submit" style="background-color: {{nivel.colorbajo}}; color:white;")
                                | Enviar
                        div(ng-show="listo")
                            md-card
                                h1(style="text-align: center") Muchas Gracias, muy pronto nos comunicaremos contigo.
