.ingles-content
    section.logo
        img(src="img/ingles.png")
    section.portada1
        img(src="img/ingles1.png")
    section.informacion(layout="row" layout-align="center center")
        .informacion-container(flex="70" flex-md="80" flex-sm="90" flex-xs="100" layout="column")
            .info-content(layout="column" flex)
                p Si como padre de familia has observado que tu hijo tiene algunas de las siguientes de ciencias: Mala ortografía, mala letra, no sabe realizar operaciones aritméticas que otros compañeros de su edad si pueden lee con lentitud o no respeta los signos de puntuación. Si han tenido una baja de rendimiento en algunas materias o batallan con la asimilación de los conceptos que se aplican en clase. Es momento de poner atención y brindarles un apoyo adicional que les permita regularizarse a la par de sus compañeros. Estos cursos son independientes a su carga académica y pueden ser para cualquier nivel escolar, primaria, secundaria o preparatoria
                p Regularizamos alumnos en cursos individuales o grupales de acuerdo a la asignatura que necesiten. Apoyo de tareas, para las diferentes materias por las tardes posterior a sus clases. Cursos de preparación para temas, materias o exámenes especí cos. Los temas y las opciones pueden ser varias de acuerdo a las necesidades del estudiante:
                p * Asesoría y Regularización.
                p * Refuerzo del idioma Inglés
                p * Orientación Vocacional.
                p * Apoyo en Tareas.
                p * Atención Psicológica.
                p * Preparación para exámenes
                p * Conferencias.
                p Este servicio esta abierto para alumnos de todas las instituciones, no necesariamente tiene que ser alumno de GEM,
                p Lic. Alejandro Virgen
                |COORDINADOR DE ÁREA
                p INFORMES:
                |(833) 215 13 98 EXT. 121
