section.inscripciones(layout="row" layout-align="center center")
    .inscripciones-container(flex="70" flex-md="80" flex-sm="90" flex-xs="100" layout="column")
        .inscripciones-content(layout="column")
            h4 Inscripciones
            br
            h3 DOCUMENTOS GENERALES PARA INSCRIPCIÓN:
            p * DOS COPIAS DE ACTA DE NACIMIENTO DEL ALUMNO (A).
            p * DOS COPIAS DE LA CURP DEL ALUMNO (A).
            p * DOS COPIAS DE LA CREDENCIAL DE ELECTOR DE AMBOS PADRES O TUTOR.
            h3 INFORMACIÓN DE PROMOCIONES, BECAS Y CONVENIOS
            p TELS. DE OFICINA (833) 215 13 98, 215 13 42 Y 215 70 04
            p HORARIO DE 7:00 A.M. A 7.00 P.M.
        .info(layout="row" layout-align="center center")
            md-grid-list(md-cols="4" md-row-height="1:1" flex="70" flex-md="70" flex-sm="70" flex-xs="100")
                md-grid-tile(ng-repeat="nivel in niveles" md-colspan="1" md-rowspan="1")
                    img(src="{{nivel.logo.imagen}}")
        .info1(layout="row" layout-align="center center")
            md-grid-list(md-cols="4" md-row-height="1:1" flex="70" flex-md="70" flex-sm="70" flex-xs="100")
                md-grid-tile(ng-repeat="nivel in niveles" md-colspan="1" md-rowspan="1")
                    //- h3 Inscripcion:
                    p $ {{nivel.inscripcion}} MXN
        .info2(layout="row" layout-align="center center")
            md-grid-list(md-cols="4" md-row-height="1:1" flex="70" flex-md="70" flex-sm="70" flex-xs="100")
                md-grid-tile(ng-repeat="nivel in niveles" md-colspan="1" md-rowspan="1")
                    //- h3 Colegiatura:
                    p $ {{nivel.colegiatura}} MXN
