.nivel-content#nivel(animacion)
	section.portada1
		.loading-content(ng-if="!portadas")
			md-progress-circular(md-mode="indeterminate" md-diameter="100" ng-disabled="portadas")
		img(src="{{portadas[0].imagen}}" ng-if="portadas")
	section.info(layout="row" layout-align="center center")
		.info-container(flex="80" flex-md="90" flex-sm="90" flex-xs="90" layout="column")
			.descripcion.md-padding
				.descripcion-content(ng-bind-html="nivel.descripcion")
			.info-content(layout="row")
				.contenido(flex="70" flex-xs="100")
					.loading-content(ng-if="!nivel")
						md-progress-circular(md-mode="indeterminate" md-diameter="100" ng-disabled="nivel" ng-if="!nivel")
					.panel#panel(ng-if="nivel")
						md-expansion-panel#circulo(md-component-id='{{$index}}' ng-repeat="elemento in nivel.elementos")
							md-expansion-panel-collapsed(style="background-color: {{nivel.colorbajo}}")
								.md-title
									p {{elemento.nombre}}
								//- .md-summary
								md-expansion-panel-icon
							md-expansion-panel-expanded
								md-expansion-panel-header {{elemento.nombre}}
								md-expansion-panel-content(ng-bind-html="elemento.descripcion")
								md-expansion-panel-footer
									md-button(ng-click="$panel.collapse()")
										md-icon keyboard_arrow_up
				.formulario(flex="30" flex-xs="100" hide-xs ng-class="{ 'rojo' : $state.includes('home.nivel', {id: 51}) , 'morado' : $state.includes('home.nivel', {id: 61}) , 'naranja' : $state.includes('home.nivel', {id: 53}) , 'azul' : $state.includes('home.nivel', {id: 52}) , 'verde' : $state.includes('home.nivel', {id: 94})} ")
					md-card
						md-toolbar
							.md-toolbar-tools
								md-icon markunread_mailbox
								h1 Contáctanos
						form(ng-submit="nuevoContacto(contacto)" ng-hide="listo")
							.md-padding(layout="column")
								md-input-container(flex)
									label Nombre
									input(ng-model="contacto.nombre" required)
								md-input-container(flex required)
									label E-mail
									input(ng-model="contacto.email" required)
								md-input-container(flex)
									label Mensaje
									textarea(ng-model="contacto.mensaje" md-maxlength="800" rows="5" required)
							md-button(type="submit" style="background-color: {{nivel.colorbajo}}; color:white;")
								| Enviar
						div(ng-show="listo")
							md-card
								h1(style="text-align: center") Muchas Gracias, muy pronto nos comunicaremos contigo.
	section.portada2
		.loading-content(ng-if="!portadas")
			md-progress-circular(md-mode="indeterminate" md-diameter="100" ng-disabled="portadas" ng-if="!portadas")
		img(src="{{portadas[1].imagen}}" ng-if="portadas")
